#su-generator-wrap { display: none }
#su-generator {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}
#su-generator-shell { padding: 20px 10px }
#su-generator-settings {
	padding: 20px;
	border: 1px dashed #ccc;
}
#su-generator-header {
	height: 30px;
	margin-bottom: 20px;
}
#su-generator-select { width: 350px }
#su-generator-tools {
	float: right;
	padding-top: 5px;
}
#su-generator-settings label {
	float: left;
	display: block;
	width: 150px;
	padding: 5px;
	border-bottom: 0px dotted #ccc;
}
#su-generator-settings input[type="text"] {
	width: 400px;
	padding: 5px 8px;
}
#su-generator-settings select { width: 400px }
.su-loading-animation {
	min-height: 100px;
	background: 50% 50% url(../images/admin/loading.gif) no-repeat;
}
.su-loading-animation * { display: none }
#su-generator-insert {
	color: #fff !important;
	font-weight: bold;
}

/* Color picker */
.su-generator-select-color {
	position: relative;
}
.su-generator-select-color-wheel {
	position: absolute;
	left: 0;
	top: 23px;
	display: none;
	background: #fff;
	border: 1px solid #aaa;
	z-index: 9999;
	box-shadow: 0 2px 5px #ccc;
	-moz-box-shadow: 0 2px 5px #ccc;
	-webkit-box-shadow: 0 2px 5px #ccc;
}

#TB_ajaxContent {min-width:640px;;}