/**
 * Shortcodes Ultimate stylesheet
*/
.su-error { color: #f03 }
/* Spacer */
.su-spacer {
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
}
.su-spacer-5 { height: 5px }
.su-spacer-10 { height: 10px }
.su-spacer-20 { height: 20px }
.su-spacer-30 { height: 30px }
.su-spacer-40 { height: 40px }
/* Heading */
.su-heading {
	margin: 0 0 1.5em 0;
	padding: 2px 0;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}
.su-heading-shell {
	padding: 20px 0;
	text-align: center;
	border-top: 4px solid #eee;
	border-bottom: 4px solid #eee;
	font-size: 1.5em;
}
/* Quote */
.su-quote {
	padding: 1em 0 0 40px;
	margin: 0 0 1.5em 0;
}
.su-quote-shell {
	padding: 0 40px 1em 0;
	font-style: italic;
}
.su-quote-style-1 { background: 0 0 url(../images/quote.png) no-repeat }
.su-quote-style-1 .su-quote-shell { background: 100% 100% url(../images/quote-shell.png) no-repeat }
/* Pullquote */
.su-pullquote {
	padding: 10px 25px;
	width: 30%;
	font-size: 0.9em;
	font-style: italic;
	margin: 1em;
}
.su-pullquote-align-left { float: left }
.su-pullquote-align-right { float: right }
.su-pullquote-style-1 { border-left: 5px solid #ddd }
/* Frame */
.su-frame {
	padding: 2px;
	border: 1px solid #999;
	background: #fff;
	box-shadow: 1px 1px 4px #ccc;
	-moz-box-shadow: 1px 1px 4px #ccc;
	-webkit-box-shadow: 1px 1px 4px #ccc;
}
.su-frame-shell {
	padding: 2px;
	border: 4px solid #eee;
}
.su-frame-align-left {
	float: left;
	margin: 0 1.5em 1em 0;
}
.su-frame-align-right {
	float: right;
	margin: 0 0 1em 1.5em;
}
.su-frame-align-center { margin: 0 auto 1.5em auto }
.su-frame-align-none { margin: 0 0 1.5em 0 }
.su-frame img {
	display: block !important;
	float: none !important;
	padding: 0 !important;
	margin: 0 !important;
}
/* Divider */
.su-divider {
	clear: both;
	height: 0px;
	margin: 1.5em 0;
	border-top: 4px solid #eee;
}
.su-divider a {
	display: block;
	float: right;
	padding-left: 10px;
	margin-top: -1.2em;
	background: #fff;
	color: #777;
	font-size: 0.8em;
	text-decoration: none;
	text-transform: uppercase;
}
/* Columns */
.su-column-1-2 { width: 48% }
.su-column-1-3 { width: 30.66% }
.su-column-2-3 { width: 65.33% }
.su-column-1-4 { width: 22% }
.su-column-3-4 { width: 74% }
.su-column-1-5 { width: 16.8% }
.su-column-2-5 { width: 37.6% }
.su-column-3-5 { width: 58.4% }
.su-column-4-5 { width: 67.2% }
.su-column-1-6 { width: 13.33% }
.su-column-5-6 { width: 82.67% }
.su-column {
	position: relative;
	margin: 0 4% 1.5em 0;
	float: left;
}
.su-column-last {
	margin-right: 0 !important;
	clear: right;
}
/* Spoiler */
.su-spoiler-style-1 { margin: 0 0 1.5em 0 }
.su-spoiler-style-1 > .su-spoiler-title {
	padding: 0.3em 0 0.3em 26px;
	font-weight: bold;
	background: 0 50% url(../images/spoiler-closed.png) no-repeat;
	cursor: pointer;
}
.su-spoiler-style-1.su-spoiler-open > .su-spoiler-title { background: 0 50% url(../images/spoiler-open.png) no-repeat }
.su-spoiler-style-1 .su-spoiler-content {
	padding: 15px 0;
	display: none;
}
.su-spoiler-style-1 .su-spoiler-style-1 { margin: 1em }
.su-spoiler-style-2 {
	margin-bottom: 1em;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.su-spoiler-style-2 > .su-spoiler-title {
	padding: 10px 10px 10px 40px;
	background: #f0f0f0 12px 8px url(../images/spoiler-style-2.png) no-repeat;
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #000;
	cursor: pointer;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.su-spoiler-style-2.su-spoiler-open > .su-spoiler-title {
	border-bottom: 1px solid #ccc;
	background: #f0f0f0 12px -92px url(../images/spoiler-style-2.png) no-repeat;
}
.su-spoiler-style-2 .su-spoiler-content {
	padding: 1em;
	display: none;
}
/* Tabs */
.su-tabs { margin: 0 0 1.5em 0 }
.su-tabs-style-1 .su-tabs-nav {
	padding: 5px 5px 0 5px;
	margin: 0;
	height: 40px;
	background: #e5e5e5;
}
.su-tabs-style-1 .su-tabs-nav span {
	display: block;
	float: left;
	padding: 0 20px;
	height: 39px;
	line-height: 39px;
	margin-right: 5px;
	cursor: pointer;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	background: #f1f1f1;
}
.su-tabs-style-1 .su-tabs-nav span:hover { background: #fff }
.su-tabs-style-1 .su-tabs-nav span.su-tabs-current { background: #fff }
.su-tabs-style-1 .su-tabs-pane {
	padding: 15px;
	border-right: 5px solid #e5e5e5;
	border-bottom: 5px solid #e5e5e5;
	border-left: 5px solid #e5e5e5;
}
.su-tabs-style-2 .su-tabs-nav {
	padding: 5px 5px 0 5px;
	margin: 0;
	height: 40px;
	background: #222;
}
.su-tabs-style-2 .su-tabs-nav span {
	display: block;
	float: left;
	padding: 0 20px;
	height: 39px;
	line-height: 39px;
	margin-right: 5px;
	cursor: pointer;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	background: #f1f1f1;
}
.su-tabs-style-2 .su-tabs-nav span:hover { background: #fff }
.su-tabs-style-2 .su-tabs-nav span.su-tabs-current { background: #fff }
.su-tabs-style-2 .su-tabs-pane {
	padding: 15px;
	border-right: 5px solid #222;
	border-bottom: 5px solid #222;
	border-left: 5px solid #222;
}
.su-tabs-style-3 {
	background: #fff;
	border: 5px solid #f0f0f0;
}
.su-tabs-style-3 .su-tabs-nav {
	width: 200px;
	float: left;
}
.su-tabs-style-3 .su-tabs-nav span {
	display: block;
	padding: 5px 10px;
	cursor: pointer;
	background: #f0f0f0;
}
.su-tabs-style-3 .su-tabs-nav span:hover { background: #f7f7f7 }
.su-tabs-style-3 .su-tabs-nav span.su-tabs-current { background: #fff }
.su-tabs-style-3 .su-tabs-pane {
	padding: 15px;
	float: none;
	margin-left: 200px;
}
/* Lists */
.su-list ul {
	list-style-type: none !important;
	margin: 0.5em 0 1.5em 0.5em !important;
	padding: 0 !important;
}
.su-list ul li {
	list-style-type: none !important;
	display: block !important;
	padding: 3px 0 3px 22px !important;
}
.su-list-style-star li { background: 0 50% url(../images/list-style-star.png) no-repeat !important }
.su-list-style-arrow li { background: 0 50% url(../images/list-style-arrow.png) no-repeat !important }
.su-list-style-check li { background: 0 50% url(../images/list-style-check.png) no-repeat !important }
.su-list-style-cross li { background: 0 50% url(../images/list-style-cross.png) no-repeat !important }
.su-list-style-thumbs li { background: 0 50% url(../images/list-style-thumbs.png) no-repeat !important }
.su-list-style-link li { background: 0 50% url(../images/list-style-link.png) no-repeat !important }
.su-list-style-gear li { background: 0 50% url(../images/list-style-gear.png) no-repeat !important }
.su-list-style-time li { background: 0 50% url(../images/list-style-time.png) no-repeat !important }
.su-list-style-note li { background: 0 50% url(../images/list-style-note.png) no-repeat !important }
.su-list-style-plus li { background: 0 50% url(../images/list-style-plus.png) no-repeat !important }
.su-list-style-guard li { background: 0 50% url(../images/list-style-guard.png) no-repeat !important }
.su-list-style-event li { background: 0 50% url(../images/list-style-event.png) no-repeat !important }
.su-list-style-idea li { background: 0 50% url(../images/list-style-idea.png) no-repeat !important }
.su-list-style-settings li { background: 0 50% url(../images/list-style-settings.png) no-repeat !important }
.su-list-style-twitter li { background: 0 50% url(../images/list-style-twitter.png) no-repeat !important }
.su-list-style-check li.x { background: 0 50% url(../images/list-style-cross.png) no-repeat !important }
.su-list-style-cross li.v { background: 0 50% url(../images/list-style-check.png) no-repeat !important }
/* Box */
.su-box { margin: 0 0 1.5em 0 }
.su-box-title {
	display: block;
	padding: 10px 15px;
	margin: 0;
	color: #fff;
	font-size: 1.1em;
	font-weight: bold;
	background: left bottom url(../images/box-title.png) repeat-x;
}
.su-box-content {
	background: #fff;
	padding: 15px;
}
/* Note */
.su-note { margin: 0 0 1.5em 0 }
.su-note-shell { padding: 15px }
/* Private */
.su-private { margin: 0 0 1.5em 0 }
/* Gmap */
.su-gmap {
	margin: 0 0 1.5em 0;
	border: none;
}
/* Highlight */
.su-highlight {
	display: inline;
	padding: 1px 0;
}
/* Label */
.su-label {
	display: inline-block;
	margin-right: 0.5em;
	padding: 0.2em 0.3em;
	font-size: 0.8em;
	height: 0.8em;
	line-height: 0.8em;
	text-transform: uppercase;
	color: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.su-label-style-default { background: #999 }
.su-label-style-success { background: #090 }
.su-label-style-warning { background: #f90 }
.su-label-style-important { background: #f03 }
.su-label-style-info { background: #09c }
/* Button */
.su-button {
	display: inline-block;
	text-decoration: none !important;
}
.su-button span {
	display: block !important;
	text-decoration: none !important;
	text-transform: uppercase;
}
.su-button img {
	display: inline !important;
	padding: 0 !important;
}
.su-button-style-1 span { background: 0 -20px url(../images/button-style-1.png) repeat-x }
.su-button-style-1:hover span { background: 0 0 url(../images/button-style-1.png) repeat-x }
.su-button-style-2 span { background: 0 50% url(../images/button-style-2.png) repeat-x }
.su-button-style-2:hover span { background: 100% 50% url(../images/button-style-2.png) repeat-x }
.su-button-style-3 span { background: 0 50% url(../images/button-style-3.png) no-repeat }
.su-button-style-3:hover span { background: -710px 50% url(../images/button-style-3.png) no-repeat }
.su-button-style-4 span { background: 0 0 url(../images/button-style-4.png) repeat-x }
.su-button-style-4:hover span { background: 0 0 url(../images/button-style-1.png) repeat-x }
.su-button-style-5 span {
	margin: 1px;
	border: 1px dashed #fff !important;
}
.su-button-style-5:hover span {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
/* Fancy link */
.su-fancy-link {
	display: inline-block;
	padding: 0 10px 0 0;
	height: 1em !important;
	line-height: 1em !important;
	margin: 0 !important;
	text-decoration: none;
}
.su-fancy-link:hover {
	padding: 0 14px 0 0;
	text-decoration: none;
}
.su-fancy-link-white {
	color: #fff !important;
	background: 100% 100% url(../images/fancy-link-white.png) no-repeat;
}
.su-fancy-link-black {
	color: #000 !important;
	background: 100% 100% url(../images/fancy-link-black.png) no-repeat;
}
/* Services */
.su-service {
	position: relative;
	margin: 0 0 1.5em 0;
}
.su-service-title {
	display: block;
	height: 16px;
	line-height: 16px;
	margin: 0 0 5px 0;
	color: #333;
	font-size: 1.2em;
	font-weight: bold;
}
.su-service-title img {
	position: absolute;
	top: 0;
	left: 0;
	display: block !important;
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
.su-service-content { line-height: 1.4 }
/* Media */
.su-media { margin: 0 0 1.5em 0 }
/* Table */
.su-table {
	width: 100% !important;
	margin: 0 0 1.5em 0 !important;
	border-collapse: collapse !important;
	font-size: 1em !important;
}
.su-table th {
	text-align: center !important;
	padding: 10px !important;
	font-size: 1em !important;
	font-weight: normal !important;
	color: #333 !important;
}
.su-table td { padding: 10px 15px !important }
.su-table .su-even td { }
.su-table-style-1 table { border: 1px solid #ccc !important }
.su-table-style-1 th {
	border: 1px solid #ccc !important;
	background: #f0f0f0 !important;
}
.su-table-style-1 td {
	border: 1px solid #ccc !important;
	background: #fff !important;
}
.su-table-style-1 .su-even td { background: #f7f7f7 !important }
.su-table-style-2 table { border: none !important }
.su-table-style-2 th {
	border: none !important;
	background: #f0f0f0 !important;
}
.su-table-style-2 td {
	border: none !important;
	background: #fff !important;
}
.su-table-style-2 .su-even td { background: #f7f7f7 !important }
.su-table-style-3 table { border: none !important }
.su-table-style-3 th {
	border: none !important;
	border-bottom: 2px solid #666 !important;
	background: #fff !important;
}
.su-table-style-3 td {
	border: none !important;
	background: #fff !important;
}
.su-table-style-3 .su-even td { background: #fff !important }
/* Document */
.su-document { border: none !important }
/* Members */
.su-members {
	padding: 1em;
	text-align: center;
	margin-bottom: 1.5em;
	color: #000;
}
.su-members-style-1 {
	border-top: 1px solid #fc9;
	border-bottom: 1px solid #fc9;
	background: #ffc;
}
.su-members-style-2 {
	border-top: 1px solid #8DC3EB;
	border-bottom: 1px solid #8DC3EB;
	background: #D9EEFF;
}
/* Guests */
.su-guests { margin-bottom: 1.5em }
/* Tweets */
.su-tweets { margin: 0 0 1.5em 0 }
.su-tweet { }
.su-tweet-time {
	display: block;
	margin-top: 0.3em;
	font-size: 0.9em;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.su-tweets-style-1 .su-tweet {
	margin: 0 0 0.7em 0;
	padding: 0 0 0.7em 30px;
	border-bottom: 1px dotted #ccc;
	background: 0 2px url(../images/tweet-style-1.png) no-repeat;
}
.su-tweets-style-1 .su-tweet-last {
	margin: 0;
	padding: 0 0 0.7em 30px;
	border-bottom: none;
}
.su-tweets-style-2 .su-tweet {
	margin: 0 0 0.7em 0;
	padding: 0.7em 0.7em 0.7em 34px;
	border: 1px solid #555;
	background: #333 0.4em 0.8em url(../images/tweet-style-2.png) no-repeat;
	color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.su-tweets-style-2 .su-tweet:hover { background: #444 0.4em 0.8em url(../images/tweet-style-2.png) no-repeat }
.su-tweets-style-2 .su-tweet a { color: #fff }
/* Custom gallery */
.su-custom-gallery-style-1 { margin: 0 0 1.5em 0 }
.su-custom-gallery-style-1 a {
	float: left;
	display: block;
	margin: 0 1em 1em 0;
	padding: 0;
}
.su-custom-gallery-style-1 img {
	display: block;
	margin: 0;
	padding: 0;
	border: 2px solid #ccc;
}
/* Pricing & plan */
.su-pricing { margin: 0 0 1.5em 0 }
.su-plan { float: left }
.su-pricing-style-1 { text-align: center }
.su-pricing-style-1 ul {
	margin: 0;
	padding: 0;
}
.su-pricing-style-1 li {
	list-style-type: none;
	display: block;
}
/* Dropcap */
.su-dropcap {
	float: left;
	display: inline-block;
	width: 2em;
	height: 2em;
	margin: 0.2em 0.5em 0.2em 0;
	line-height: 2em;
	text-align: center;
	overflow: hidden;
	text-transform: uppercase;
}
.su-dropcap-style-1 {
	background: #333 0 -20px url(../images/dropcap-style-1.png) repeat-x;
	color: #f0f0f0;
	text-shadow: -1px -1px 0 #000;
	-moz-text-shadow: -1px -1px 0 #000;
	-webkit-text-shadow: -1px -1px 0 #000;
	border-radius: 2em;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
}
.su-dropcap-style-2 {
	background: #ccc 0 -20px url(../images/dropcap-style-2.png) repeat-x;
	color: #000;
	text-shadow: 1px 1px 0 #eee;
	-moz-text-shadow: 1px 1px 0 #eee;
	-webkit-text-shadow: 1px 1px 0 #eee;
	border-radius: 2em;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
}
.su-dropcap-style-3 {
	background: url(../images/dropcap-style-3.png);
	color: #fff;
	border-radius: 2em;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	text-shadow: -1px -1px 0 #aaa;
	-moz-text-shadow: -1px -1px 0 #aaa;
	-webkit-text-shadow: -1px -1px 0 #aaa;
}