/* This stylesheet is loaded only if you have activated the Jigoshop plugin. It is registered and included in the functions/template-ecommerce.php file. You can remove the action with a simple remove action command. */

/* =JigoShop Compatability
----------------------------------------------- */
body.jigoshop div.product div.summary,div.product div.images {width:48%;}
body.jigoshop div.product div.images img {width:100%;max-width:100%;}
body.jigoshop .quantity input.qty {padding: 4px 4px 3px;text-align: center;}
body.jigoshop div.product div.summary .button-alt {margin-top:0px;}
body.jigoshop div.jigoshop_message a.button {margin-top: -3px;}
body.jigoshop table.shop_table.cart td.actions .button-alt {margin-top:0;}
body.jigoshop table.shop_table.cart p {margin-bottom:0;}
body.jigoshop .cart-collaterals .cart_totals h2 {text-align:right;margin-right:20px;}
body.jigoshop .products li .price {margin-top:7px;}
body.jigoshop .cart-collaterals .shipping_calculator {width:auto;margin-right:20px;}
body.jigoshop .cart-collaterals {position:relative;right:-20px;}
body.jigoshop .quantity input.plus, .quantity input.minus {padding:5px 6px 6px;}
body.jigoshop a.button, body.jigoshop button.button, body.jigoshop input.button, body.jigoshop #review_form #submit,
body.jigoshop .quantity input.minus:hover, body.jigoshop .quantity input.plus:hover {background:#F89406;}
body.jigoshop .button-alt {background:#08C;}
body.jigoshop .products li .button {float:right;}
body.jigoshop .products li .price {float:left;}
body.jigoshop .button,body.jigoshop .button-alt {font-weight:normal;}
body.jigoshop .button:hover,body.jigoshop .button-alt:hover {background:#666;font-weight:normal;}
body.jigoshop a.button:hover,body.jigoshop a.button-alt:hover {text-decoration:none;}
form .form-row input.input-text, form .form-row textarea {line-height:inherit!important;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {height:auto;}
body.jigoshop .entry-content form {padding-bottom:30px;}
.attachment-shop_tiny.wp-post-image {width: 36px;max-width: 36px;}
#payment div.payment_box {color:#333;}
.input-radio {float:left;position:relative;top:4px;}
